<ol class="breadcrumb">
  <li>图书列表</li>
  <span class="pull-right"><%= link_to t("buttons.add"), new_book_path %></span>
</ol>
<table class='table table-bordered table-condensed table-hover'>
  <thead>
    <tr>
      <th>序号</th>
      <th><%= Book.human_attribute_name(:name) %></th>
      <th><%= Book.human_attribute_name(:author) %></th>
      <th>isbn</th>
      <th>入库时间</th>
      <th><%= Category.model_name.human %></th>
      <th><%= Book.human_attribute_name(:price) %></th>
      <th><%= Book.human_attribute_name(:status) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @books.present?%>
      <% @books.each_with_index do |book,index|%>
      <tr>
        <td><%= index+1%></td>
        <td><%= book.name%></td>
        <td><%= book.author%></td>
        <td><%= book.isbn%></td>
        <td><%= book.intime%></td>
        <td><%= book.category.name%></td>
        <td><%= book.price%></td>
        <td><%= book.status%></td>
        <td><%= link_to t("buttons.edit"), edit_book_path(book)%></td>
      </tr>
      <%end%>
    <%else%>
      <tr>
        <td class='text-center' colspan='8'>NO BOOK RECORD!</td>
      </tr>
    <%end%>
  </tbody>
</table>